.sliderList li{
    float: none;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    text-align: left;
    width: 250px;
    height: 348px;
    background: #616161;
    border-left: 3px solid #232323;
}

.numberBackground{
    font-weight: bold;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: 250px;
    position: relative;
    text-align: center;
    font-size: 120px;
    color: #525252;
    box-sizing: border-box;
    padding: 15px 0;
}

.pokemonPicture{
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 50%;
    margin-left: -125px;
    opacity: .4;
}

.pokeName{
    width: 210px;
    overflow: visible;
    margin-top: 0;
    position: relative;
    left: 0;
    padding: 20px;
    max-height: 90px;
    background: #313131;
    white-space: normal;
    font-size: 16px;
}

.pokeName h5{
    text-align: left;
    color: #fff;
    font-size: 150%;
    text-transform: none;
    margin-bottom: 20px;
    line-height: 125%;
    margin: 0.5em 0;
    width: 320px;
}

.pokeNumber{
    float: right;
    color: #fff;
}

.pokeName dl{
    display: block;
    width: 320px;
    margin-bottom: 5px;
    opacity: 0;
}

.pokeName dl dt{
    text-align: left;
    width: 100px;
    text-transform: none;
    font-size: 100%;
    line-height: 110%;
    color: #fff;
    float: left;
    min-height: 20px;
    margin-bottom: 10px;
}

.types{
    width: 220px;
    line-height: 120%;
    display: block;
    float: left;
    min-height: 20px;
    margin-bottom: 10px;
    margin-top: -5px;
    margin-left: 0px;
    text-align: left;
    word-wrap: break-word;
}

.typeLabel{
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 3px;
    border-radius: 4px 4px 4px 4px;
    margin-right: 4px;
}

.backgroundColorDark{
    background: linear-gradient(180deg, #707070 50%, #707070 50%);
    background-color: #707070;
    color: #fff;
}

.backgroundColorPsychic{
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
    color: #fff;
}

.backgroundColorGrass{
    background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background-color: #9bcc50;
    color: #212121;
}

.backgroundColorPoison{
    background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background-color: #b97fc9;
    color: #fff;
}

.backgroundColorSteel{
    background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background-color: #9eb7b8;
    color: #212121;
}

.backgroundColorRock{
    background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background-color: #a38c21;
    color: #fff;
}

.backgroundColorNormal{
    background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background-color: #a4acaf;
    color: #212121;
}

.backgroundColorIce{
    background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background-color: #51c4e7;
    color: #212121;
}

.backgroundColorFighting{
    background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background-color: #d56723;
    color: #fff;
}

.abilities{
    width: 220px;
    line-height: 120%;
    display: block;
    float: left;
    min-height: 20px;
    margin-bottom: 10px;
    margin-top: -1px;
    margin-left: 0px;
    text-align: left;
    word-wrap: break-word;
}

.slash{
    color: white;
}

.abilityLabel{
    color: white;
    word-wrap: break-word;
}

.expanded{
    width: 360px !important;
    background-color: #232323 !important;
    overflow: visible;
    height: 400px !important;
    border-radius: 0 0 5px 5px;
}

.expanded .numberBackground{
    background: #525252;
    color: #616161;
    font-size: 176px;
}
/* hi */
.expanded img{
    position: absolute;
    opacity: 1;
    animation: zoom .5s ease;
    animation-fill-mode: forwards;
    z-index: 26;
}

.expanded .pokeName{
    width: 320px;
    background: #232323;
    min-height: 95px;
    border-radius: 0 0 5px 5px;
    padding: 20px 23px 35px 20px;
    z-index: 0;
}

.expanded .pokeName dl{
    opacity: 1;
}

@keyframes zoom {
    0% {
        transform: scale(1) translateY(0px);
    }
    100% {
        transform: scale(1.3) translateY(-15px);
    }
}
