.rowFour{
    display: flex;
    justify-content: center;
}

.pokeMewtwo{
    width: 281px; 
    background-color: white;
    padding-left: 14px;
    padding-right: 7px;
    padding-bottom: 100px;
}

.pokeMewtwo img{
    border-radius: 5px 5px 0 0;
}

.blueBanner{
    background-color: #1b53ba;
    text-align: left;
    padding-bottom: 1em;
    padding-top: 0.25em;
    border-radius: 0 0 5px 5px;
}

.blueBanner h3{
    font-size: 137.5%;
    line-height: 125%;
    margin: 0.75em 0.5em 0 1em;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.blueBanner p {
    color: #30a7d7;
    margin: 0.5em 0.5em 0.5em 1.25em;
    font-family: "Roboto",arial,sans-serif;
    font-size: 99%;
    font-weight: 500;
    line-height: 125%;
}

.colTwo{
    width: 281px;
    background-color: white;
    padding-left: 7px;
    padding-right: 7px;
}

.newHeader{
    color: #919191;
    font-size: 187.5%;
    line-height: 125%;
    text-align: left;
    margin-top: 0px;
}

.pokeZ{
    width: 281px; 
    background-color: white;
    padding-bottom: 50px;
}

.pokeZ img{
    border-radius: 5px 5px 0 0;
}

.pinkTwoBanner{
    background-color: #ff90c4;
    text-align: left;
    padding-bottom: 1em;
    padding-top: 0.25em;
    border-radius: 0 0 5px 5px;
}

.pinkTwoBanner h3{
    font-size: 137.5%;
    line-height: 125%;
    margin: 0.75em 0.5em 0 1em;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.pinkTwoBanner p {
    color: #c3005b;
    margin: 0.5em 0.5em 0.5em 1.25em;
    font-family: "Roboto",arial,sans-serif;
    font-size: 99%;
    font-weight: 500;
    line-height: 125%;
}

.colThree{
    width: 281px;
    background-color: white;
    padding-left: 7px;
    padding-right: 14px;
    padding-bottom: 7px;
}

.pokeAdvance{
    width: 281px; 
    background-color: white;
}

.pokeAdvance img{
    border-radius: 5px 5px 0 0;
}

.purpleTwoBanner{
    background-color: #855ac9;
    text-align: left;
    padding-bottom: 1em;
    padding-top: 0.25em;
    border-radius: 0 0 5px 5px;
}

.purpleTwoBanner h3{
    font-size: 137.5%;
    line-height: 125%;
    margin: 0.75em 0.5em 0 1em;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.purpleTwoBanner p {
    color: #212121;
    margin: 0.5em 0.5em 0.5em 1.25em;
    font-family: "Roboto",arial,sans-serif;
    font-size: 99%;
    font-weight: 500;
    line-height: 125%;
}

.orangeText{
    text-align: left;
    font-size: 137.5%;
    line-height: 125%;
    color: #fff;
    background-color: #ee6b2f;
    border-radius: 5px 5px 0 0;
    padding: 0.75em 0.5em 0.75em 1em;
    margin-bottom: 0px;
}

.blueText{
    text-align: left;
    font-family: "Roboto",arial,sans-serif;
    font-size: 100%;
    font-weight: 500;
    line-height: 125%;
    color: #0a2631;
    background-color: #30a7d7;
    margin-top: 0px;
    padding: 0.5em 0.5em 1em 1em;
    border-radius: 0 0 30px 5px;
}