.feature{
    display: flex;
    justify-content: center;
    position: relative;
}

.feature h3{
    background: #232323;
    color: #919191;
    font-size: 125%;
    line-height: 125%;
    margin-top: 34px;
    margin-bottom: 0;
    margin-right: 630px;
    padding: 11px 20px 8px;
    border-radius: 5px 5px 0 0;
    display: flex;
    vertical-align: middle;
    position: relative;
}

.feature span{
    font-size: 125%;
    margin-right: 0.25em;
}